# ============================================================
# DATA & ARTIFACTS
# ============================================================

# Ignore raw ECG signal files (too large for Git)
data/**/*.dat
data/**/*.hea
dataset/**/*.dat
dataset/**/*.hea
dataset/ptb-xl-a-large-publicly-available-electrocardiography-dataset-1.0.3

# Keep only small metadata / scripts
!data/**/*.csv
!data/**/*.txt
!data/**/*.py
!dataset/**/*.csv
!dataset/**/*.txt
!dataset/**/*.py

# Ignore experiment outputs
checkpoints/
results/dropbox
results
*.pt
*.pth
*.ckpt
*.log

# ============================================================
# PYTHON / ENVIRONMENT
# ============================================================

__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
.env/

# Jupyter notebooks
.ipynb_checkpoints/

# ============================================================
# IDE / OS FILES
# ============================================================

# IDE configs
.idea/
.vscode/
*.iml

# OS junk
.DS_Store
Thumbs.db


