# Ignore dataset (too large for Git, use local copy or DVC) and heavy ECG signal files
dataset/**/*.dat
dataset/**/*.hea

# Keep metadata (CSV, LICENSE, TXT, PY)
!dataset/**/*.csv
!dataset/**/*.txt
!dataset/**/*.py


# Ignore IDE/project configs
.idea/
.vscode/
*.iml

# Ignore Python cache
__pycache__/
*.pyc
*.pyo

# Ignore Jupyter checkpoints
.ipynb_checkpoints/

# Ignore OS junk files
.DS_Store
Thumbs.db